<h1>Users#show</h1>
 <p>Logged in as <%= current_user.email %></p>

<h2>My Events</h2>
<ul>
  <% @user.attended_events.each do |a| %>
  <li><%= a.title %></li>
  <% end %>
</ul>  

<hr>
<%= link_to "Back to Home", events_path %>

